<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="img/favicon.png", type="image/png")
        link(rel="stylesheet", href="style.css")
        title Нутрициолог 
    body
        include header.pug
        section#head
            .container
                .head
                    p.head__overtitle Нутрициолог
                    h1.head__title.h1 Ольга Клиненко
                    p.head__subtitle Консультация нутрициолога – это пошаговый план действий на пути к здоровью через питание и нутрицевтики
                    a(href="#contacts").head__button.cta Выбрать консультацию
        section#forWhat
            .container
                .need
                    h2.need__title.h2 Для чего нужен нутрициолог?
                    .need__list
                        .need__item
                            <svg width="152" height="150" viewBox="0 0 152 150" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <ellipse cx="76.1881" cy="75" rx="75.7186" ry="75" fill="#F2F2F2"/>
                                <path d="M19.1229 73.1431C19.1229 67.0288 26.1959 65.5002 29.7324 65.5002H39.8598V80.9683C39.8598 80.9683 33.269 80.7859 29.7324 80.7859C26.1959 80.7859 19.1229 79.2573 19.1229 73.1431Z" fill="#4FB293" stroke="#4FB293"/>
                                <path d="M95.2435 28.8979C78.6737 33.087 73.7283 47.4633 74.5311 54.1278H82.2382C83.3942 41.1797 91.3902 37.9427 95.2436 37.9427C98.4548 37.6253 101.987 37.9423 102.469 35.0863C103.177 30.8866 98.6153 28.0455 95.2435 28.8979Z" fill="#4FB293"/>
                                <path d="M70.0843 19.4298C82.0429 23.9666 80.8877 35.585 78.8153 40.8271C67.3885 33.1942 45.0527 18.2471 42.3935 16.3646C46.641 15.496 58.1257 14.893 70.0843 19.4298Z" fill="#76BF9D"/>
                                <path d="M55.7084 40.611C64.4581 49.8568 74.9177 44.431 79.0538 40.5624C67.6011 32.9676 45.189 18.1324 42.4242 16.4049C43.2066 20.6212 46.9588 31.3652 55.7084 40.611Z" fill="#4FB293"/>
                                <path d="M83.6831 53.7246H78.3846V124.177C96.8812 139.029 115.956 117.989 123.181 105.612C126.874 94.346 130.792 68.5768 116.919 55.6288C103.047 42.6807 88.9816 48.9643 83.6831 53.7246Z" fill="#D84A46"/>
                                <path d="M73.2005 53.7246H78.499V124.177C60.0025 139.029 40.9278 117.989 33.7026 105.612C30.0097 94.346 26.092 68.5768 39.9645 55.6288C53.8369 42.6807 67.902 48.9643 73.2005 53.7246Z" fill="#ED6064"/>
                                <path d="M82.2994 103.491V82.4735V80.5628H39.3788H29.2515C25.715 80.5628 18.6419 79.0342 18.6419 72.9199V95.8484C18.6419 101.963 25.715 103.491 29.2515 103.491H82.2994Z" fill="#76BF9D"/>
                                <path d="M82.2994 103.491V80.5625C79.4059 81.1504 73.6188 84.2663 73.6188 92.0267C73.6188 99.7872 79.4059 102.903 82.2994 103.491Z" fill="#4FB293"/>
                                <path d="M57.2222 80.5625H62.0447V85.25C62.0447 86.3545 61.1493 87.25 60.0447 87.25H59.2222C58.1176 87.25 57.2222 86.3545 57.2222 85.25V80.5625Z" fill="#E2E1CF"/>
                                <path d="M47.5771 80.5625H52.3996V85.25C52.3996 86.3545 51.5042 87.25 50.3996 87.25H49.5771C48.4725 87.25 47.5771 86.3545 47.5771 85.25V80.5625Z" fill="#E2E1CF"/>
                                <path d="M37.932 80.5625H42.7546V85.25C42.7546 86.3545 41.8591 87.25 40.7546 87.25H39.932C38.8275 87.25 37.932 86.3545 37.932 85.25V80.5625Z" fill="#E2E1CF"/>
                                </svg>
                            p.need__description Составить индивидуальный  рацион
                        .need__item 
                            <svg width="152" height="150" viewBox="0 0 152 150" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <ellipse cx="76.0827" cy="75" rx="75.7186" ry="75" fill="#F2F2F2"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="152" height="150">
                                <ellipse cx="76.0827" cy="75" rx="75.7186" ry="75" fill="#E2E1CF"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <path d="M102.729 64.6189C100.904 54.6519 118.352 28.3554 125.387 16.5611L127.668 4.60074L73.4792 -0.881104V150.119L135.084 148.624L130.516 129.619C130.896 128.622 129.955 109.275 121.741 96.1189C111.474 79.6734 105.011 77.0776 102.729 64.6189Z" fill="#E0B687"/>
                                <mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="73" y="0" width="64" height="152">
                                <path d="M103.41 66.3315C101.542 56.3645 119.397 30.0681 126.596 18.2738L128.93 6.31339L73.4789 0.831543V151.832L136.519 150.337L131.844 131.332C132.234 130.335 131.271 110.988 122.865 97.8315C112.359 81.386 105.745 78.7903 103.41 66.3315Z" fill="#2A231B"/>
                                </mask>
                                <g mask="url(#mask1)">
                                <path d="M73.4282 101.08L123.917 93.8398L135.24 119.494L123.494 138.425L98.2881 149.008L73.4282 151.332V101.08Z" fill="#F49A20"/>
                                </g>
                                <path d="M44.7793 62.9059C46.5712 52.7879 29.4431 26.093 22.537 14.1201L20.2972 1.97847L73.4927 -3.58643V149.701L13.0176 148.183L17.5017 128.891C17.1284 127.879 18.0522 108.239 26.1156 94.8831C36.1948 78.1884 42.5395 75.5534 44.7793 62.9059Z" fill="#F4C58D"/>
                                <mask id="mask2" mask-type="alpha" maskUnits="userSpaceOnUse" x="12" y="-4" width="62" height="155">
                                <path d="M44.6042 63.4889C46.4087 53.3709 29.1598 26.676 22.2049 14.7031L19.9493 2.56148L73.5203 -3.00342V150.284L12.6184 148.766L17.1341 129.474C16.7582 128.462 17.6885 108.822 25.8088 95.4661C35.9591 78.7714 42.3486 76.1364 44.6042 63.4889Z" fill="#2A231B"/>
                                </mask>
                                <g mask="url(#mask2)">
                                <path d="M73.5203 100.088L25.8905 92.7502L14.7159 118.781L25.8905 137.998L49.8697 148.742L73.5203 151.101V100.088Z" fill="#FCBE43"/>
                                </g>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M35.2238 99.7102C46.405 103.179 60.5543 105.045 75.0821 104.999V97.5255C65.3199 97.5709 55.8033 96.324 48.2922 93.9939C40.1227 91.4595 34.6269 87.69 33.611 83.7734C31.4129 86.5168 27.0969 92.6085 25.2526 95.7657C28.1199 97.2134 31.4421 98.5371 35.2238 99.7102Z" fill="#ED5757"/>
                                <path d="M77.4598 104.935C92.8955 104.49 107.256 101.758 117.458 97.327C118.887 96.7062 120.064 96.0361 121.295 95.3659C121.295 95.3659 118.465 90.52 112.375 82.8896C112.955 86.8179 109.5 89.4428 102.687 92.4021C95.8742 95.3614 86.2833 97.1858 75.9746 97.4834C75.1438 97.5073 74.3137 97.5212 73.4854 97.5252V104.999C74.8076 104.995 76.1332 104.974 77.4598 104.935Z" fill="#DA3B3B"/>
                                </g>
                                </svg>
                            p.need__description Получить красивое и здоровое тело
                        .need__item
                            <svg width="152" height="150" viewBox="0 0 152 150" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <ellipse cx="75.7721" cy="75" rx="75.7186" ry="75" fill="#F2F2F2"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="152" height="150">
                                <ellipse cx="75.7721" cy="75" rx="75.7186" ry="75" fill="#E0DBE9"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <path d="M33.2281 111.649C39.2856 127.649 95.8222 134.649 116.519 117.649C118.706 116.482 124.898 116.249 132.167 124.649C136.965 130.193 142.467 118.76 146.669 105.649C137.676 98.8486 109.636 103.86 106.928 105.649C90.2695 116.649 49.3814 116.149 33.2281 111.649Z" fill="#E0B687"/>
                                <path d="M151.854 86.1485C144.45 80.3152 124.696 73.5485 104.908 93.1485C93.8028 78.6485 76.1351 79.1485 67.0489 93.1485C63.5154 67.1485 64.525 77.1485 63.5154 68.6485C62.5058 60.1485 62.001 40.1485 62.5058 39.1485C63.0106 38.1485 67.5538 35.1485 79.6688 41.1485C91.7838 47.1485 98.3461 36.1485 97.8413 33.1485C97.3365 30.1485 96.3269 18.6485 86.2311 17.1485C78.1544 15.9485 61.3281 22.3152 53.9245 25.6485C45.0065 48.9819 28.3821 98.8486 33.2281 111.649C49.3814 116.149 90.2695 116.649 106.928 105.649C109.636 103.86 137.676 98.8486 146.669 105.649C148.833 98.8969 150.653 91.7004 151.854 86.1485Z" fill="#E0B687"/>
                                <path d="M33.2281 111.649C39.2856 127.649 95.8222 134.649 116.519 117.649C118.706 116.482 119.992 125.1 127.261 133.5C132.059 139.045 142.467 118.76 146.669 105.649C137.676 98.8486 109.636 103.86 106.928 105.649C90.2695 116.649 49.3814 116.149 33.2281 111.649Z" fill="#ED5757"/>
                                <path d="M63.7079 37.4066C63.6907 37.4378 63.6738 37.4689 63.6571 37.4998C63.6731 37.4682 63.69 37.4371 63.7079 37.4066C66.2774 32.722 73.5089 24.4237 82.3344 27.9998C91.2187 31.5998 95.4589 34.4999 96.4685 35.4999C95.2907 37.6665 91.7235 41.9999 86.8775 41.9999C80.82 41.9999 71.229 35.4999 69.2098 35.9999C67.7254 35.8365 64.592 35.8972 63.7079 37.4066Z" fill="#ED5757"/>
                                </g>
                                </svg>

                            p.need__description Повысить иммунитет
                        .need__item
                            <svg width="153" height="150" viewBox="0 0 153 150" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <ellipse cx="76.4255" cy="75" rx="75.7186" ry="75" fill="#F2F2F2"/>
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="153" height="150">
                                <ellipse cx="76.4255" cy="75" rx="75.7186" ry="75" fill="#E0DBE9"/>
                                </mask>
                                <g mask="url(#mask0)">
                                <path d="M48.5407 47.2395C32.3987 29.3127 49.9673 19.9859 60.7694 17.5634L95.0102 16.9578L98.0674 33.9156L52.821 50.2677C58.12 56.7278 64.6826 65.1663 48.5407 47.2395Z" fill="#ED6064"/>
                                <path d="M57.5841 116.796C15.9075 101.027 28.7782 72.6264 40.4232 60.3976L113.357 30.2817C113.562 37.4 113.357 54.0336 113.357 63.6829C113.357 65.4086 111.715 73.4561 115.188 75.0987C127.39 85.2867 125.121 113.551 118.261 117.344C115.799 118.704 112.742 121.127 112.132 125.557V150.198H57.5841V116.796Z" fill="#D84A46"/>
                                <path d="M71.3777 9C71.4802 8.52625 72.5911 0.422541 72.3873 -2L97.4563 0C99.9021 3.83569 102.715 13.0817 94.3992 19.3803C86.0836 25.6789 67.6997 21.1972 59.5472 18.1691C61.9929 16.9578 69.5434 17.4789 71.3777 9Z" fill="#E0B687"/>
                                <path d="M89.7863 29.0606L95.455 0H119.39C119.6 8.95579 119.516 28.951 117.5 37.2853C115.485 45.6197 108.783 51.1708 104.794 52.0846L38.7681 60.3145C36.2487 60.8628 30.8318 60.8628 29.3202 56.4763C27.8085 52.0898 31.6297 49.531 33.7292 48.7999L89.7863 29.0606Z" fill="#F4C58D"/>
                                </g>
                                </svg>

                            p.need__description Подготовиться к беременности
                        .need__item
                            <svg width="143" height="142" viewBox="0 0 143 142" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M71.136 141.312C110.341 141.312 142.122 109.833 142.122 71C142.122 32.1675 110.341 0.6875 71.136 0.6875C31.9314 0.6875 0.14978 32.1675 0.14978 71C0.14978 109.833 31.9314 141.312 71.136 141.312Z" fill="#F2F2F2"/>
                                <path d="M112.545 92.0938C111.29 92.0938 110.086 91.6 109.198 90.7209C108.311 89.8418 107.812 88.6496 107.812 87.4063V35.8439C107.475 32.0492 105.715 28.5172 102.879 25.9443C100.043 23.3715 96.3369 21.9443 92.4911 21.9443C88.6452 21.9443 84.9389 23.3715 82.1029 25.9443C79.2668 28.5172 77.5068 32.0492 77.1699 35.8439L84.2685 92.0938C84.2685 95.8235 85.7643 99.4003 88.4268 102.038C91.0893 104.675 94.7004 106.156 98.4657 106.156C102.231 106.156 105.842 104.675 108.505 102.038C111.167 99.4003 112.663 95.8235 112.663 92.0938H112.545Z" fill="#D84A46"/>
                                <path d="M84.1501 49.9062C90.6842 49.9062 95.9812 44.6596 95.9812 38.1875C95.9812 31.7154 90.6842 26.4688 84.1501 26.4688C77.616 26.4688 72.3191 31.7154 72.3191 38.1875C72.3191 44.6596 77.616 49.9062 84.1501 49.9062Z" fill="#F85565"/>
                                <path d="M69.9528 28.8125C79.1811 28.8125 88.0313 32.4436 94.5567 38.907C101.082 45.3704 104.748 54.1367 104.748 63.2773V70.4492C104.748 73.8494 103.384 77.1103 100.957 79.5145C98.5296 81.9188 95.2375 83.2695 91.8048 83.2695H48.1009C44.6682 83.2695 41.376 81.9188 38.9487 79.5145C36.5214 77.1103 35.1578 73.8494 35.1578 70.4492V63.2773C35.1578 54.1367 38.8237 45.3704 45.349 38.907C51.8744 32.4436 60.7246 28.8125 69.9528 28.8125Z" fill="#D84A46"/>
                                <path d="M71.136 141.312C85.0216 141.328 98.6031 137.284 110.178 129.688L107.031 120.969C106.217 118.706 104.72 116.747 102.743 115.355C100.767 113.963 98.4061 113.206 95.9811 113.188H43.9837C41.5426 113.187 39.1611 113.935 37.1658 115.328C35.1705 116.721 33.6591 118.691 32.8389 120.969L30.1533 128.422C42.131 136.83 56.455 141.336 71.136 141.312Z" fill="#76BF9D"/>
                                <path d="M93.5203 113.188H46.3855C46.9135 119.018 49.6249 124.441 53.9863 128.391C58.3477 132.34 64.0434 134.531 69.9529 134.531C75.8625 134.531 81.5581 132.34 85.9195 128.391C90.2809 124.441 92.9923 119.018 93.5203 113.188Z" fill="#4FB293"/>
                                <path d="M80.6008 114.652C80.6008 117.45 79.479 120.132 77.4821 122.11C75.4852 124.088 72.7769 125.199 69.9529 125.199C67.1289 125.199 64.4205 124.088 62.4236 122.11C60.4268 120.132 59.3049 117.45 59.3049 114.652C59.3049 108.793 64.0373 111.137 69.9529 111.137C75.8684 111.137 80.6008 108.828 80.6008 114.652Z" fill="#ED5757"/>
                                <path d="M69.9529 98.832V114.945" stroke="#E0B687" stroke-width="12" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M69.9529 111.828C62.736 111.828 55.8147 108.988 50.7115 103.934C45.6084 98.879 42.7415 92.0234 42.7415 84.875V67.2031C42.7415 60.0547 45.6084 53.1991 50.7115 48.1444C55.8147 43.0897 62.736 40.25 69.9529 40.25C77.1698 40.25 84.0911 43.0897 89.1942 48.1444C94.2974 53.1991 97.1643 60.0547 97.1643 67.2031V84.9102C97.1549 92.0525 94.2838 98.8991 89.1817 103.946C84.0796 108.993 77.1637 111.828 69.9529 111.828Z" fill="#F4C58D"/>
                                <path opacity="0.1" d="M48.444 55.7656C50.1297 51.6108 52.9874 48.0245 56.6756 45.4352C60.3639 42.8459 64.7268 41.3632 69.243 41.1641" stroke="white" stroke-width="3.68" stroke-miterlimit="10" stroke-linecap="round"/>
                                <path d="M100.501 64.9296C100.502 60.883 99.6844 56.8773 98.0955 53.1494C96.5066 49.4214 94.1789 46.047 91.2502 43.2258C88.3215 40.4047 84.8512 38.194 81.0447 36.7247C77.2382 35.2555 73.1729 34.5574 69.0892 34.6718C52.4548 35.1288 39.4051 49.0624 39.4051 65.5507V70.2382C39.4003 71.0056 39.553 71.7659 39.854 72.473C40.155 73.1801 40.598 73.8192 41.1561 74.3515C41.6333 74.8161 42.1751 75.2107 42.7652 75.5233V70.9999C42.7652 69.7567 43.2637 68.5644 44.1512 67.6853C45.0387 66.8063 46.2425 66.3124 47.4976 66.3124H53.8627C54.0832 66.3139 54.2997 66.2544 54.4878 66.1405C54.676 66.0266 54.8282 65.8629 54.9275 65.6679L56.9387 61.6249L58.9737 65.6679C59.0729 65.8629 59.2252 66.0266 59.4133 66.1405C59.6014 66.2544 59.818 66.3139 60.0385 66.3124H92.4318C93.6869 66.3124 94.8907 66.8063 95.7782 67.6853C96.6657 68.5644 97.1642 69.7567 97.1642 70.9999V75.5585C97.7543 75.2459 98.2961 74.8512 98.7733 74.3866C99.3314 73.8544 99.7744 73.2153 100.075 72.5082C100.376 71.8011 100.529 71.0407 100.524 70.2733L100.501 64.9296Z" fill="#ED6064"/>
                                <path d="M79.0273 84.2188C79.0273 83.2863 79.4012 82.3921 80.0669 81.7328C80.7325 81.0735 81.6353 80.7031 82.5766 80.7031C83.5179 80.7031 84.4207 81.0735 85.0863 81.7328C85.752 82.3921 86.1259 83.2863 86.1259 84.2188" stroke="#515570" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M60.488 84.2188C60.488 83.2863 60.1141 82.3921 59.4485 81.7328C58.7828 81.0735 57.88 80.7031 56.9387 80.7031C55.9974 80.7031 55.0946 81.0735 54.429 81.7328C53.7634 82.3921 53.3894 83.2863 53.3894 84.2188" stroke="#515570" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M78.8853 96.7812C79.0418 96.7902 79.195 96.8298 79.3359 96.8979C79.4768 96.966 79.6027 97.0611 79.7061 97.1778C79.8096 97.2944 79.8886 97.4303 79.9386 97.5775C79.9886 97.7247 80.0086 97.8803 79.9974 98.0352C79.7044 100.473 78.519 102.72 76.6656 104.35C74.8123 105.98 72.4197 106.881 69.941 106.881C67.4623 106.881 65.0697 105.98 63.2164 104.35C61.363 102.72 60.1776 100.473 59.8846 98.0352C59.8734 97.8784 59.8941 97.721 59.9456 97.5723C59.997 97.4236 60.0782 97.2867 60.1841 97.1697C60.2901 97.0527 60.4187 96.958 60.5624 96.8913C60.7061 96.8246 60.8618 96.7871 61.0204 96.7812H78.8853Z" fill="#393C54"/>
                                <path d="M64.0374 104.879C65.7666 106.136 67.8554 106.813 70.0002 106.813C72.1449 106.813 74.2338 106.136 75.963 104.879C74.6853 102.828 72.5202 102.641 69.9529 102.641C67.3855 102.641 65.2205 102.828 64.0374 104.879Z" fill="#F85565"/>
                                <path d="M75.8684 99.125H64.0374C63.7459 99.1089 63.4608 99.0348 63.1988 98.9073C62.9369 98.7798 62.7035 98.6014 62.5125 98.3828C62.3216 98.1641 62.177 97.9096 62.0873 97.6345C61.9977 97.3594 61.9648 97.0692 61.9906 96.7812H77.9625C77.9884 97.073 77.954 97.3669 77.8614 97.645C77.7689 97.9232 77.6201 98.1797 77.4241 98.399C77.2282 98.6183 76.9892 98.7958 76.7217 98.9206C76.4542 99.0454 76.1639 99.115 75.8684 99.125Z" fill="white"/>
                                </svg>

                            p.need__description Наладить питание ребенка
                    a(href="#contacts").need__button.cta Выбрать консультацию

        section#about
            .container
                .about
                    .about__image
                        img(src="img/about-image.png", alt="Я")
                    .about__info
                        h2.about__title.h2 Обо мне
                        p.about__subtitle Меня зовут Ольга Клиненко, я #[b дипломированный нутрициолог и коуч по здоровому образу жизни. ]
                        .finished__courses
                            p.finished__course Участник образовательных программ в Международном институте интегральной превентивной и антивозрастной медицины PreventAge, Москва, Россия
                            p.finished__course Дипломированный нутрициолог, НОЧУ ВО «Московский институт психоанализа», Москва, Россия
                            p.finished__course Участник образовательных программ Международной Академии Натуропатии, Москва, Россия
                            p.finished__course Участник образовательных программGray Institute, Мичиган, США
                            p.finished__course Участник образовательных программ института Integrative Nutrition School, Нью-Йорк, США
                        p.about__expirience Стаж работы – #[b 15 лет ]
                        a(href="#feedback").about__button.cta Подробнее
        section#consultation
            .container
                .consultation
                    h2.consultation__title.h2
                    .consultation__list
                        .consultation__item
                            <svg width="82" height="153" viewBox="0 0 82 153" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9699 121.004C8.368 118.598 4.95924 112.596 4.58752 99.214C4.12879 82.6996 4.39639 61.3684 4.58752 52.7672C4.96974 48.371 8.02785 40.6107 17.2025 44.7393C20.2608 42.0634 27.5241 38.317 32.1114 44.7393C33.8317 42.2545 38.419 38.4317 43.0064 43.0191V19.5089C43.0064 17.4064 45.4147 12.6279 50.4608 12.6279C56.195 12.6279 57.3418 15.495 57.9152 17.7887V71.69L67.6633 51.0469C69.3836 47.6064 81.9988 47.033 81.4254 57.3545L53.7517 121.004H61.0028C64.6813 121.004 67.6633 123.986 67.6633 127.665V145.308C67.6633 148.986 64.6813 151.969 61.0028 151.969H6.66057C2.98204 151.969 0 148.986 0 145.308V127.665C0 123.986 2.98204 121.004 6.66057 121.004H10.9699ZM6.66057 123.668H61.0028C63.2099 123.668 64.9991 125.457 64.9991 127.665V145.308C64.9991 147.515 63.2099 149.304 61.0028 149.304H6.66057C4.45345 149.304 2.66423 147.515 2.66423 145.308V127.665C2.66423 125.457 4.45345 123.668 6.66057 123.668Z" fill="#F4C58D"/>
                                <path d="M35.6223 10.7183C38.9461 2.8581 56.0908 -4.15299 67.7097 10.7183" stroke="#FF7478" stroke-width="3"/>
                                <rect y="120.529" width="67.9378" height="31.9707" rx="4" fill="#76BF9D"/>
                                <path d="M45.2919 22.6188C47.2901 24.3949 52.0857 26.8815 55.2827 22.6188" stroke="#CEA679"/>
                                <path d="M32.0098 72.208V44.6368C30.6941 42.6183 28.3458 41.365 26.6044 41.2331L26.6813 72.208H32.0098Z" fill="#CEA679"/>
                                <path d="M17.2074 74.0622L17.2076 44.7305C15.6537 43.7361 14.6792 43.7917 12.903 43.53V74.0622H17.2074Z" fill="#CEA679"/>
                                <path d="M42.9861 72.5861L42.9859 43.0464C41.7844 41.4532 40.4074 41.1354 38.6312 40.8769L38.6312 72.5861H42.9861Z" fill="#CEA679"/>
                                </svg>

                            h3.consultation__item-title.h3 Шаг 1: Выберите консультацию 
                            p.consultation__subtitle Выберите консультацию* или заполните формуобратной связи, если нужнапомощь в выборе консультации
                        .consultation__item
                            <svg width="162" height="147" viewBox="0 0 162 147" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M71.4336 74.1276C70.4661 74.2414 75.246 53.7583 76.2134 51.8807L75.5871 51.5392C80.3096 50.2117 89.9935 47.4313 90.9494 46.9306C91.9053 46.4299 94.1546 53.1324 95.1598 56.5463C87.5736 62.3688 72.2077 74.0365 71.4336 74.1276Z" fill="#E0B687"/>
                                <path d="M105.578 53.2673C104.7 53.4516 103.468 53.2796 102.427 52.6067C101.423 51.9583 100.582 50.8355 100.436 49.046L98.4722 49.2062C98.6691 51.6197 99.8519 53.2884 101.357 54.2613C102.824 55.2096 104.584 55.4888 105.983 55.1955L105.578 53.2673Z" fill="#FF7478"/>
                                <path d="M106.256 58.8328L111.478 57.2904C112.223 56.5356 112.922 55.8271 113.558 55.182L113.609 55.1299L113.655 55.0724C115.172 53.1443 117.196 48.1161 113.713 42.9324C111.881 40.2062 109.146 39.2549 106.623 39.1395C104.136 39.0258 101.745 39.7082 100.272 40.3783L100.057 40.4762L89.0025 51.4827L89.8487 54.3471L101.569 42.6775C102.767 42.1698 104.631 41.678 106.503 41.7636C108.451 41.8527 110.292 42.5511 111.532 44.3975C114.159 48.3068 112.674 52.0236 111.632 53.394C110.118 54.9302 108.252 56.819 106.256 58.8328Z" fill="#FF7478"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M143.958 2.79002L83.9627 20.512C81.8757 21.1285 80.6836 23.3201 81.3001 25.4072L89.0025 51.4827L100.057 40.4762L100.272 40.3783C101.745 39.7082 104.136 39.0258 106.623 39.1395C109.146 39.2549 111.881 40.2062 113.713 42.9324C117.196 48.1161 115.172 53.1443 113.655 55.0724L113.609 55.1299L113.558 55.182C112.922 55.8271 112.223 56.5356 111.478 57.2904L156.158 44.0922C158.245 43.4757 159.437 41.2841 158.821 39.197L148.853 5.45268C148.237 3.36564 146.045 2.17353 143.958 2.79002ZM137.209 15.2489C141.43 18.1916 148.758 26.9946 144.602 38.6869L147.077 39.5668C151.792 26.3037 143.44 16.3901 138.712 13.094L137.209 15.2489ZM138.406 36.072C141.313 27.6363 136.188 21.2885 133.253 19.1781L134.787 17.0455C138.245 19.5321 144.319 26.9754 140.89 36.9279L138.406 36.072ZM130.651 25.7626C132.321 26.9061 135.146 30.287 133.535 34.7396L136.005 35.6334C138.196 29.5785 134.301 25.0788 132.136 23.5954L130.651 25.7626Z" fill="#FF7478"/>
                                <path d="M133.535 34.7396C135.146 30.287 132.321 26.9061 130.651 25.7626L132.136 23.5954C134.301 25.0788 138.196 29.5785 136.005 35.6334L133.535 34.7396Z" fill="#D84A46"/>
                                <path d="M133.253 19.1781C136.188 21.2885 141.313 27.6363 138.406 36.072L140.89 36.9279C144.319 26.9754 138.245 19.5321 134.787 17.0455L133.253 19.1781Z" fill="#D84A46"/>
                                <path d="M144.602 38.6869C148.758 26.9946 141.43 18.1916 137.209 15.2489L138.712 13.094C143.44 16.3901 151.792 26.3037 147.077 39.5668L144.602 38.6869Z" fill="#D84A46"/>
                                <path d="M105.578 53.2673C104.7 53.4516 103.468 53.2796 102.427 52.6067C101.423 51.9583 100.582 50.8355 100.436 49.046L98.4722 49.2062C98.6691 51.6197 99.8519 53.2884 101.357 54.2613C102.824 55.2096 104.584 55.4888 105.983 55.1955L105.578 53.2673Z" fill="#F4C58D"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M96.163 61.8142L106.256 58.8328C108.252 56.819 110.118 54.9302 111.632 53.394C112.674 52.0236 114.159 48.3068 111.532 44.3975C110.292 42.5511 108.451 41.8527 106.503 41.7636C104.631 41.678 102.767 42.1698 101.569 42.6775L89.8487 54.3471L91.2678 59.1515C91.8843 61.2386 94.076 62.4307 96.163 61.8142ZM105.578 53.2673C104.7 53.4516 103.468 53.2796 102.427 52.6067C101.423 51.9583 100.582 50.8355 100.436 49.046L98.4722 49.2062C98.6691 51.6197 99.8519 53.2884 101.357 54.2613C102.824 55.2096 104.584 55.4888 105.983 55.1955L105.578 53.2673Z" fill="#F4C58D"/>
                                <path d="M89.8487 54.3471L87.7321 56.4545L88.7486 59.8957C89.776 63.3741 93.4288 65.3609 96.9072 64.3334L102.405 62.7093C103.704 61.4054 105.005 60.0946 106.256 58.8328L96.163 61.8142C94.076 62.4307 91.8843 61.2386 91.2678 59.1515L89.8487 54.3471Z" fill="#F4C58D"/>
                                <path d="M88.5881 50.0797L84.1817 35.1626C74.4773 38.0076 51.5903 45.3935 46.5671 47.1616C46.1901 47.2943 45.7302 47.6663 45.24 48.5135C44.7549 49.3517 44.32 50.5197 43.9333 51.9944C43.1602 54.9421 42.6488 58.8343 42.1906 63.1082C42.047 64.4479 41.9086 65.8253 41.7689 67.2164C41.4672 70.2191 41.1591 73.2855 40.7784 76.1724C40.2221 80.3901 39.4942 84.3724 38.3441 87.3841C36.4959 92.2239 33.1418 96.0378 30.3061 98.6171C28.8812 99.9131 27.5691 100.914 26.6101 101.592C26.4587 101.7 26.3159 101.799 26.1828 101.89L46.0136 121.395C49.8566 118.968 56.0615 114.812 61.8856 110.544C67.7814 106.224 73.1212 101.906 75.3273 99.1632C78.157 95.6458 81.3745 89.967 84.1234 84.9285C84.5818 84.0882 85.0277 83.2649 85.4556 82.4749L85.4567 82.4729C86.297 80.9214 87.0678 79.4982 87.728 78.3259C88.2271 77.4398 88.6775 76.6709 89.0594 76.0807C89.25 75.7862 89.4349 75.5186 89.6092 75.296C89.7654 75.0965 89.9806 74.844 90.2393 74.6596C90.242 74.6576 90.2645 74.6407 90.3127 74.6004C90.3619 74.5593 90.4255 74.5043 90.5046 74.434C90.6628 74.2933 90.8677 74.105 91.1171 73.871C91.6151 73.4037 92.2715 72.772 93.0508 72.012C94.6085 70.493 96.6409 68.4776 98.8462 66.275C100.001 65.1221 101.201 63.9186 102.405 62.7093L96.9072 64.3334C93.4288 65.3609 89.776 63.3741 88.7486 59.8957L87.7321 56.4545L74.5568 69.5725L77.2233 63.2107C77.2233 63.2107 77.4535 62.3301 77.6963 61.0768C77.753 60.7639 77.8045 60.4483 77.85 60.1309C78.1684 57.9103 78.2084 55.4986 77.6386 53.2447L88.5881 50.0797Z" fill="#F4C58D"/>
                                <path d="M105.578 53.2673C104.7 53.4516 103.468 53.2796 102.427 52.6067C101.423 51.9583 100.582 50.8355 100.436 49.046L98.4722 49.2062C98.6691 51.6197 99.8519 53.2884 101.357 54.2613C102.824 55.2096 104.584 55.4888 105.983 55.1955L105.578 53.2673Z" fill="#E0B687"/>
                                <path d="M106.256 58.8328C103.979 61.1291 102.792 62.3315 100.546 64.5744L98.1612 66.9587C98.7402 68.8985 98.0438 74.7641 100.85 76.4603C102.529 77.4754 106.027 77.2486 107.262 75.7838C107.504 75.0458 107.585 75.0995 107.752 74.4571L107.755 74.3453L111.478 57.2904L106.256 58.8328Z" fill="#E0B687"/>
                                <path d="M91.1171 73.871C90.9006 74.0742 89.3484 74.8579 89.2004 74.9909L88.7829 79.1058C88.2793 81.2048 86.8229 85.883 89.0594 89.0539C89.1945 89.2454 91.0327 90.0722 91.4128 90.2513C91.7708 90.4201 93.3704 90.3798 93.6535 90.3097C94.2428 90.1639 94.847 89.6377 95.2608 89.0539L98.7212 68.2184C99.0242 67.9147 98.3755 67.9202 98.182 66.9379C96.428 68.6853 94.3311 70.7635 93.0508 72.012C92.2715 72.772 91.6151 73.4037 91.1171 73.871Z" fill="#E0B687"/>
                                <rect x="11.0522" y="106.569" width="25.1353" height="44.4821" rx="4" transform="rotate(-43.976 11.0522 106.569)" fill="#76BF9D"/>
                                </svg>

                            h3.consultation__item-title.h3 Шаг 2: Оплатите консультацию
                            p.consultation__subtitle После выбора подходящей консультации вы будете перенаправленына страницу оплаты
                        .consultation__item
                            <svg width="121" height="134" viewBox="0 0 121 134" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.0825 117.551L19.1914 103.134H33.6345V109.788L18.0825 117.551Z" fill="#ED6064"/>
                                <path d="M23.6537 75.9644C38.071 61.5478 45.9915 53.9949 52.4604 54.3645L64.6591 70.4445L61.9138 89.272L54.6784 107.595L53.0149 113.14C52.4604 114.803 51.3515 114.803 47.4701 114.803C44.365 114.803 44.328 108.889 44.6977 105.931V104.268C44.1432 103.159 43.1451 101.717 43.5887 104.823C44.0323 107.928 41.767 111.082 40.8428 112.006C38.1813 114.224 35.4828 112.93 33.6345 112.006C31.4166 111.119 32.6839 105.537 32.499 103.689L20.3004 100.941C19.0066 101.68 15.9754 103.381 14.2011 104.268C11.9831 105.377 9.79254 104.268 8.12909 100.941C6.46564 97.6142 5.49025 94.127 23.6537 75.9644Z" fill="#CEA679"/>
                                <path d="M67.4315 57.1118L58.5597 69.8649C58.9293 69.8649 60.0013 71.972 61.332 80.4001C62.6628 88.8283 55.972 90.5657 52.4603 90.3808L24.1817 89.8264C18.8588 91.6007 18.6369 96.4802 18.6369 98.6981C18.0824 105.906 21.9638 106.091 24.1817 105.906H51.9059C55.8982 112.56 63.1804 114.224 66.3225 114.224L96.2646 111.451L94.0467 64.3201L67.4315 57.1118Z" fill="#F4C58D"/>
                                <rect x="89.2724" y="57.8822" width="28.8332" height="57.6663" rx="5" transform="rotate(-2.91409 89.2724 57.8822)" fill="#76BF9D"/>
                                <path d="M92.9378 0L26.4263 89.8264L44.7242 90.3809L104.027 7.76277L92.9378 0Z" fill="#ED6064"/>
                                <path d="M29.1226 124.962C23.7085 129.563 8.33567 128.357 5.26405 112.949" stroke="#FF7478" stroke-width="3"/>
                                </svg>

                            h3.consultation__item-title.h3 Шаг 3: Заполните анкету
                            p.consultation__subtitle После получения оплатывам будет предложено заполнить анкетудля подготовки к консультации (ваш образ жизни, пищевые привычки,состояние здоровья и т.д.)
        section#feedback
            .container
                .feedback
                    h2.feedback__title.h2 Отзывы 
                    .feedback__list
                        .feedback__item
                            .feedback__image
                                img(src="img/feedback-image1.png", alt="Надежда Жуковская")
                            .feedback__wrap
                                p.feedback__name Надежда Жуковская
                                p.feedback__subtitle 25 лет г. Москва
                                p.feedback__info “Моя жизнь последние несколько лет напоминала борьбу с лишним весом: кто кого. Но лишний вес неоднократно одерживал победу, так как после окончания очередной диеты вес возвращался или становился выше прежнего. 
                                p.feedback__info Я решила похудеть и, по совету подруги, обратилась к Евгении -  не пожалела!
                                p.feedback__info Выбрала программу “Индивидуальный рацион”,  уже год нахожусь в прекрасной форме. Удалось за 3 месяца сбросить 11 килограмм, с которыми, я уверена, что распрощалась уже навсегда.
                                p.feedback__info Теперь ем с удовольствием и не ограничиваю себя в питании, но пищу исключительно подобранную Евгенией, так как есть ряд продуктов, которые совсем пришлось исключить из своего рациона.”
                        .feedback__item
                            .feedback__image
                                img(src="img/feedback-image1.png", alt="Надежда Жуковская")
                            .feedback__wrap
                                p.feedback__name Надежда Жуковская
                                p.feedback__subtitle 25 лет г. Москва
                                p.feedback__info “Моя жизнь последние несколько лет напоминала борьбу с лишним весом: кто кого. Но лишний вес неоднократно одерживал победу, так как после окончания очередной диеты вес возвращался или становился выше прежнего. 
                                p.feedback__info Я решила похудеть и, по совету подруги, обратилась к Евгении -  не пожалела!
                                p.feedback__info Выбрала программу “Индивидуальный рацион”,  уже год нахожусь в прекрасной форме. Удалось за 3 месяца сбросить 11 килограмм, с которыми, я уверена, что распрощалась уже навсегда.
                                p.feedback__info Теперь ем с удовольствием и не ограничиваю себя в питании, но пищу исключительно подобранную Евгенией, так как есть ряд продуктов, которые совсем пришлось исключить из своего рациона.”
        section#contacts
            .container
                .contacts
                    form(action="#").contacts__form 
                        h2.contacts__title.h2 Форма обратной связи
                        p.contacts__subtitle Если у Вас остались вопросы - смело задавайте,буду рада на них ответить! Так же здесь Вы можете оставлять свои отзывы
                        input.contacts__input#name(type="text" placeholder="Имя*")
                        input.contacts__input#email(type="text" placeholder="Email адрес*")
                        input.contacts__input#phone(type="text" placeholder="Телефон")
                        textarea.contacts__area#comment(name="", cols="30", rows="10" placeholder="Напишите мне")
                        button(type="submit").contacts__button.cta Отправить сообщение
                    .contacts__image
                        img(src="img/contacts-image.jpg", alt="")
        .success
            h2.success__title.h2 Сообщение успешно отправлено!
            p.success__subtitle В ближайшее время вам поступит звонок
            .success__exit X
        .success__bg    
        include footer.pug